table {
    width: 100%;
    border-collapse: collapse;
    white-space: nowrap;
}

th, td {
    border: 1px solid;
    line-height: 15px;
    padding: 1px 5px 1px 5px;
    white-space: nowrap;
    font-size: 11px;
}
