* {
    font-family: "Roboto", sans-serif;
}

main {
    background-color: rgb(64, 64, 64);
    color: rgb(192, 192, 192);
}

input[type=button] {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid;
    background-color: rgb(64, 64, 64);
    color: rgb(0, 128, 255);
    border-color: rgb(64, 64, 64);
    display: flex;
    justify-content: center;
    align-items: center;
    height:30px;
    padding: 0px 3px 0px 3px;
}

    input[type=button]:hover {
        background-color: rgb(48, 48, 48);
        border: 1px solid;
        border-color: rgb(0, 128, 255);
    }

    input[type=button]:active {
        background-color: rgb(32, 32, 32);
        border-color: rgb(0, 128, 255);
    }
