.DIV_MainVoice {
    border: 1px solid;
}

.DIV_MainVoice_Section {
    border: 1px solid;
}

td {
    border-left: 5px solid;
    color: var(--color-gray160)
}

td, th {
    padding: 0px 10px 0px 10px;
}

    td.TD_TopLeft_Bordered {
        border-left: 5px solid;
        border-top: 5px solid;
    }

    td.TD_Top_Bordered {
        border-left: none;
        border-top: 5px solid;
    }

    td.TD_TopLeftBottom_Bordered {
        border-top: 5px solid;
        border-bottom: 5px solid;
    }

    td.TD_Right_Bordered {
        border-left: none;
        border-right: none;
        border-right: 5px solid;
    }

    td.TD_No_Border {
        border: none;
    }

    td.TD_PadSide_3 {
        padding: 3px 3px 0px 3px;
    }

    th {
        background-color: var(--color-gray48);
        border-left: 5px solid;
        border-right: 5px solid;
        border-color: var(--color-gray80);
        padding: 0px 10px 0px 10px;
        color: rgb(0, 128, 255);
    }

tr th:first-child {
    border-radius: 20px 0px 0px 20px;
    border-left: none;
}

tr th:last-child {
    border-radius: 0px 20px 20px 0px;
    border-right: none;
}

tr td:last-child {
    border-right: none;
}

tr:hover {
    background-color: rgb(112, 112, 112);
}

table {
    font-size: 20px;
}

input[type=button].BTN_Action {
    display: inline-block;
    width: calc(50% - 5px);
}