@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<div class="DIV_MainDiv">
	<div class="DIV_TitleDiv">
		<span>EDITOR DB</span>
	</div>

	<div class="DIV_SelectDiv">
		<label for="entity">Entity</label>
		<select id="entity" value="@entity" @onchange="entityChange">
			<option value="">---</option>
			<option value="table">Table</option>
			<option value="field">Field</option>
		</select>

		<label for="action" class="LBL_Action">Action</label>
		<select id="action" value="@action" @onchange="actionChange">
			<option value="">---</option>
			<option value="create">Create</option>
			<option value="edit">Edit</option>
			<option value="rename">Rename</option>
			<option value="delete">Delete</option>
		</select>
	</div>
</div>

@code {
	string? entity = null;
	string? action = null;

	private void entityChange(ChangeEventArgs e) {
		entity = e.Value?.ToString();
		redirect();
	}

	private void actionChange(ChangeEventArgs e) {
		action = e.Value?.ToString();
		redirect();
	}

	private void redirect() {
		if (entity == "table" && action == "create")
			NavigationManager.NavigateTo("/createTable");
		else if (entity == "table" && action == "edit")
			NavigationManager.NavigateTo("/editTable");
		else if (entity == "table" && action == "rename")
			NavigationManager.NavigateTo("/renameTable");
		else if (entity == "table" && action == "delete")
			NavigationManager.NavigateTo("/deleteTable");
	}
}
