.DIV_MainDiv {
    text-align: center;
    margin-bottom: 30px;
}

.DIV_TitleDiv {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

.LBL_Action {
    margin-left: 20px;
}

.DIV_SelectDiv {

}

    .DIV_SelectDiv select {
        background-color: rgb(0, 128, 255, 0.4);
        border-radius: 5px;
        height: 30px;
        font-size: 20px;
        width: 150px;
    }

        .DIV_SelectDiv select option {
            background-color: rgb(0, 128, 255, 0.4);
            font-size: 20px;
        }

    .DIV_SelectDiv label {
        font-size: 20px;
    }
