@inherits LayoutComponentBase
<head>
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
	<link href="css/MainStyle.css" rel="stylesheet" />
</head>

<div style="background-color: lightcyan; position: absolute; height:100%; width:100%;">
	<div>
		<Header />
	</div>

	<main>
		<article class="content px-4">
			@Body
		</article>
	</main>
</div>

<div id="blazor-error-ui">
	An unhandled error has occurred.
	<a href="" class="reload">Reload</a>
	<a class="dismiss">🗙</a>
</div>
