@inherits LayoutComponentBase
<head>
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
	<link href="css/MainStyle.css" rel="stylesheet" />
</head>

<div class="DIV_MainDiv">
	<div>
		<Header />
	</div>

	<main>
		<article class="content px-4">
			@Body
		</article>
	</main>
</div>