.DIV_Main {
    padding: 5px 10px 5px 5px;
    display: flex;
    list-style: none;
    background-color: rgba(0, 255, 255, 0.5);
    height: 40px;
}

.DIV_MenuVoice {
    position: relative;
    margin-left: 5px;
}

.BTN_MenuMainVoice {
    height: 30px;
}

.BTN_MenuSubVoice {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 99;
}
