@using EMMA_FE.Components.Common.Modal
@inherits LayoutComponentBase

<div>
	<div class="DIV_Header">
		<Header />
	</div>

	<main>
		@Body
	</main>

	<div class="DIV_Footer">
		<Footer />
	</div>
</div>

<ModalHost />