@page "/editTable"
@using System.Data.SqlClient
@rendermode InteractiveServer

@inject Services.MainService mainService
<head>
	<link href="css/TableStyle.css" rel="stylesheet" />
</head>

<div>
	<div class="DIV_Title">
		<span class="SPN_Title">Edit Table</span>
	</div>
</div>

@code {

}
